<h1>Editing Book</h1>
<% if @book.errors.any? %>
  <%= @book.errors.count %> errors prohibited this book from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @book do |f| %>
  <div class=form_title>
    <h3>Title</h3>
    <%= f.text_field :title %>
  </div>

  <div class=form_body>
    <h3>Body</h3>
    <%= f.text_area :body %>
  </div>

  <div class=form_input>
    <%= f.submit 'Update Book' %>
  </div>

<% end %>


<div class='foot_link'>
  <span><%= link_to 'Show', "/books/#{@book.id}"%></span>
  |
  <span><%= link_to 'Back', "/books" %></span>
</div>