<div class='flash_massage'>
  <%= flash[:notice] %>
</div>


<div class='content'>
  <p><strong>Title:</strong><%= @book.title %></p>
</div>

<div class='content'>
  <p><strong>Body:</strong><%= @book.body %></p>
</div>

<div class='foot_link'>
  <span><%= link_to 'Edit', "/books/#{@book.id}/edit"%></span>
  |
  <span><%= link_to 'Back', "/books" %></span>
</div>
